<div class="nav-menu">
    {{ if eq .Site.Language.Lang "ko" }}
        <a href="{{ .Site.BaseURL }}ko/projects/" class="nav-item">프로젝트</a>
        <a href="{{ .Site.BaseURL }}ko/activities/" class="nav-item">활동</a>
        <a href="{{ .Site.BaseURL }}ko/profile/" class="nav-item">프로필</a>
    {{ else }}
        <a href="{{ .Site.BaseURL }}en/projects/" class="nav-item">PROJECTS</a>
        <a href="{{ .Site.BaseURL }}en/activities/" class="nav-item">ACTIVITIES</a>
        <a href="{{ .Site.BaseURL }}en/profile/" class="nav-item">PROFILE</a>
    {{ end }}
</div>